@import '../../Styles/variables.scss';

.login {
  @include flex-center();
  height: 100%;

  .borderBox {
    @include flex-center();
    width: 464px;
    padding: 50px 0 40px;
    border: 1px solid #e4e4e4;
  }

  .loginWrap {
    display: flex;
    flex-direction: column;
    width: 65%;

    .title {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
    }

    a {
      @include flex-center();
      height: 44px;
      border: 0px;
      margin: 18px 0;
      font-size: 14px;
      font-weight: 700;
      color: white;
      cursor: pointer;

      &.grayButton {
        background-color: #d3d3d3;
        text-decoration: none;
      }

      &.blackButton {
        background-color: black;
        text-decoration: none;

        &:hover {
          background-color: #444444;
          transition: 0.1s;
        }
      }
    }

    .passowordForgot {
      margin: 10px 0 40px;
      font-size: 13px;
      text-align: center;
      color: black;
    }

    .context {
      margin: 10px 0;
      font-size: 14px;
    }
  }
}
