.sizeSelectorWrap {
  .fixedLi {
    font-size: 1rem;
    padding: 1rem 8rem;
    border: 1px solid #eaeaea;
  }

  button {
    background-color: unset;
    border: none;
  }

  .newList {
    z-index: 1000;
    font-size: 1rem;
    border: 1px solid #eaeaea;
    border-top: none;
    .setSizeBtn {
      height: 3rem;
      border-right: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
