.sizeSelectorWrap {
  button {
    background-color: unset;
    border: none;
  }

  .fixedLi {
    border: 1px solid #eaeaea;
    font-size: 1rem;
    padding: 0 1rem;

    .sizeSelector {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 2.5rem;

      .setSize {
        display: flex;
        justify-content: space-between;
        width: 25rem;
        color: #a9a9a9;
        font-size: 0.95rem;
      }
    }
  }

  .showList {
    position: relative;
    font-size: 1rem;
    border-top: none;
    z-index: 50;

    .setSizeBtn {
      display: flex;
      position: absolute;
      width: 100%;
      height: 3rem;
      background-color: white;
      border: 1px solid #eaeaea;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.fas {
  margin-top: 0.25rem;
}
