.detailPageWrap {
  display: flex;
  flex-direction: column;
  .detailContentsWrap {
    height: auto;
    display: flex;
    justify-content: center;
    .contentPage {
      display: flex;
      flex-direction: column;
      img {
        width: 25rem;
        height: 30rem;
        padding: 2rem 2rem 2rem 0;
      }
      .productDetail {
        background-color: #eaeaea;
        .productDescription {
          font-weight: bold;
        }
      }
    }
    .sidePage {
      height: auto;
      .stickyDiv {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-top: 2rem;

        .productName {
          padding: 0.5rem 0;
          font-size: 2rem;

          .putWishList {
          }
        }

        .productCategory {
          padding-bottom: 1rem;
          margin-bottom: 1rem;

          font-size: 1.5rem;
        }
        .selectPayment {
          display: flex;
          justify-content: space-around;
          padding-bottom: 0.3rem;
          margin-bottom: 2rem;
          button {
            border: none;
            border-bottom: 0.1rem solid #1e1e1e;
            padding: 0 1.5rem;
            font-size: 1.1rem;
            background-color: unset;
          }
        }
        .paymentArea {
          display: flex;
          flex-direction: column;
          border: 0.1rem solid #eaeaea;
          margin-top: 2rem;

          .noticePrice {
            align-self: flex-end;
            font-size: 1.2rem;
            padding: 1rem;
          }
          .basketWrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #eaeaea;
            .checkPayment {
              display: flex;
              justify-content: space-around;

              .deliv {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-bottom: 1.8rem;

                .itemIndex {
                  display: flex;
                  align-items: center;
                  .itemWord {
                    font-size: 0.5rem;
                  }
                }

                .fa-truck-loading,
                .fa-parachute-box,
                .fa-donate {
                  margin: 1rem 0.5rem;
                }
              }
            }
            .putBasket {
              align-self: center;
              border: none;
              width: 80%;
              background-color: #1e1e1e;
              padding: 1rem 2rem;
              margin: 1.5rem 0;
              color: #eaeaea;
            }
          }
        }
      }
      .induceUser {
        display: flex;
        .induceItems {
          .fa-boxes {
            font-size: 4rem;
          }
        }
      }
    }
  }
}
