.carouselContainer {
  display: flex;
  flex-direction: column;
  .slideWrap {
    width: 500px;
    height: 200px;
    .slideBox {
      width: 100%;
      margin: auto;
      overflow-x: hidden;
      .slideList {
        display: flex;
        .slide {
          width: 500px;
          height: 200px;
          float: left;
          .slideItem {
            width: 500px;
            height: 200px;
          }
        }
      }
    }
    .slideDot {
      display: flex;
      justify-content: center;
    }
  }
}
