.carouselContainer {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: -2;
  .slideWrap {
    width: 80vw;
    height: 400px;
    .slideBox {
      width: 100%;
      margin: auto;
      overflow-x: hidden;
      .slideList {
        display: flex;
        .slide {
          width: 80vw;
          height: 400px;
          float: left;
          .slideItem {
            width: 80vw;
            height: 400px;
          }
        }
      }
    }
    .slideDot {
      display: flex;
      justify-content: center;
    }
  }
  .bannerButton {
    position: absolute;
    display: flex;
    width: 80vw;
    top: 50%;
    justify-content: space-around;
    .prev,
    .next {
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      opacity: 0.4;
      background-color: #eaeaea;
      border-radius: 50%;
      z-index: 100;
    }
    .prev:hover,
    .next:hover {
      opacity: 0.8;
    }
  }
}
